<!DOCTYPE html>
<html>
  <head>
   <!--<% include partials/template/head.ejs %>-->
  </head>
  <body>
  	<% include partials/template/header.ejs %>
    
    <section class = "layout">
    	<div class="primary">
    		<div> This is my paragraph.</div>

    	<aside class="secondary">
    		<div>This is Secondary Section</div>
    	</aside>

    </section>

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
